@model Ticket

<h2>New Ticket</h2>

<!-- Error Validation Summary -->
<div asp-validation-summary="All" class="text-danger">
</div>

<form asp-action="Add" method="post">
    <!-- Name Label and Input -->
    <div class="form-group">
        <label asp-for="Name">Name: </label>
        <input asp-for="Name" class="form-control" />
    </div>
    <!-- Sprint Number Label and Input -->
    <div class="form-group">
        <label asp-for="SprintNum">Sprint Number: </label>
        <input asp-for="SprintNum" class="form-control" />
    </div>
    <!-- Point Value Label and Input -->
    <div class="form-group">
        <label asp-for="PointVal">Point Value: </label>
        <input asp-for="PointVal" class="form-control" />
    </div>
    <!-- Description Label and Input -->
    <div class="form-group">
        <label asp-for="Description">Description: </label>
        <input asp-for="Description" class="form-control" />
    </div>
    <!-- Status Value and Dropdown Selector -->
    <div class="form-group">
        <label asp-for="StatusId">Status: </label>
        <vc:status-drop-down></vc:status-drop-down>
    </div>
    <!-- This submit-button uses SubmitButtonTagHelper in the Models folder -->
    <submit-button>
        Add Ticket
    </submit-button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
