
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">




</head>

<body>

<h3>@ViewBag.Title</h3>

<p>@ViewBag.Description</p>

<img src="C:\Downloads\FB_IMG_1655247217318.jpg" alt="nbgg">


    <div>
        <dl>
            <dt>Name:</dt>
            <dd>@ViewBag.UserNow.Name</dd>
            <dt>ID:</dt>
            <dd>@ViewBag.UserNow.ID</dd>
          
 
            


        </dl>
         

    </div>

</body>

</html>